[DEFAULT]
extraction_method = "opensmile"
pitch_config="/home/pbrusco/apps/opensmile-2.3.0/config/smileF0.conf"
intensity_config="/home/pbrusco/apps/opensmile-2.3.0/config/intensity.conf"
voice_quality_config="/home/pbrusco/apps/opensmile-2.3.0/config/voice_quality.config"
extended_features=False
extract_on_last_seconds=[0.2, 0.3, 0.5]
